body {
  font-size:0.85em;
  font-family:Arial, Helvetica, sans-serif;
}

tr:nth-child(4n-3), tr:nth-child(4n-2) {
  background:#dfeaff;
}

td {
  min-width:8em;
  padding:0.5em 1em;
}

th {
  font-family:sans-serif;
}

dt {
  font-weight:bold;
}

tr:nth-child(even) td {
  padding:0;
  margin:0;
}

tr:nth-child(even) div {
  padding: 1em;
}

