{
  "databases" : [
    {
      "name" : "ggsedb",
      "url" : "",
      "username" : "",
      "password" : "",
      "driver" : ""
    },
    {
      "name" : "courses",
      "url" : "",
      "username" : "",
      "password" : "",
      "driver" : ""
    }
  ]
}

